* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background: #696969;
    color: #696969;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-family: 'Jost', sans-serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    padding: 0;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #189A46;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.fixed-top {
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.btn-style {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
}

body a,
button,
.btn {
    cursor: pointer !important;
    font-family: 'Jost', sans-serif;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

nav ul li {
    display: inline-block;
}

li {
    list-style-type: none;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #189A46;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    color: #000c04;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

a {
    color: #189A46;
    text-decoration: none;
    background-color: transparent;
}

a.read {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189A46;
    color: #000c04;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}

a:hover {
    text-decoration: none;
    color: #189A46 !important;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
    width: 100%;
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
}

a.nav-link:before,
a.dropdown-item:before {
    position: absolute;
    content: '';
    background: #189A46;
    width: 0px;
    height: 1px;
    bottom: 13px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}


/* start header */
header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

/* end header */


/* start slider */
.slider .carousel-item img {
    height: 920px;
    object-fit: cover;
}

.slider .carousel-caption img {
    width: 190px;
    height: 190px;
}



.slider .carousel-indicators button {
    display: inline-block;
    zoom: 1;
    background: transparent;
}

.slider .carousel-indicators button.active span {
    background-color: #35a22c;
    width: 30px;
    height: 10px;
    border-radius: 10px;
}

.slider .carousel-indicators button span:hover {
    background: #35a22c;
    width: 30px;
    height: 10px;
    border-radius: 10px;
}


.slider button:hover span {
    background: #35a22c !important;
    width: 30px;
    height: 10px;
}

.slider button span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 25px;
    position: relative;
    opacity: 0.9;
}

.carousel-indicators {
    padding-bottom: 15px;

}

.slider .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-white {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
    background-color: #fff;
    color: #35a22c;
}

.border-btn {
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 35px;
}

.border-btn:hover {
    background-color: #fff;
}

.carousel-inner .carousel-caption h5 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.carousel-inner .carousel-caption p {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;
    opacity: 0.9;
}

.carousel-caption {
    max-width: 700px;
}

.carousel-caption {
    text-align: left !important;
}

#caption1,
#caption3 {
    padding-bottom: 300px;
}

#caption2,
#caption4 {
    bottom: 50%;
    transform: translateY(50%) translateX(50%);
}

/* end slider */

.about__us {
    text-align: center;
    background-color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about__us .about__us-item {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

.sub-title1 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.sub-title2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    color: #000c04
}