 @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body,
html {
    width: auto;
    height: 1500px;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
     /* background: #696969;
    color: #696969;  */
}

.btn-primary {
    color: #fff;
    background-color: #189A46;
    border-color: #189A46;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-family: 'Jost', sans-serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    padding: 0;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #189A46;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.fixed-top {
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.btn-style {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
}

body a,
button,
.btn {
    cursor: pointer !important;
    font-family: 'Jost', sans-serif;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

nav ul li {
    display: inline-block;
}

li {
    list-style-type: none;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #189A46;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    color: #000c04;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a.read {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189A46;
    color: #000c04;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}

a:hover {
    text-decoration: none;
    color: #189A46 !important;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
    width: 100%;
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
}

a.nav-link:before,
a.dropdown-item:before {
    position: absolute;
    content: '';
    background: #189A46;
    width: 0px;
    height: 1px;
    bottom: 13px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* start header */
header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

/* end header */


/* start slider */
.slider .carousel-item img {
    height: 920px;
    object-fit: cover;
}

.slider .carousel-caption img {
    width: 190px;
    height: 190px;
}



.slider .carousel-indicators button {
    display: inline-block;
    zoom: 1;
    background: transparent;
}

.slider .carousel-indicators button.active span {
    background-color: #35a22c;
    width: 30px;
    height: 10px;
    border-radius: 10px;
}

.slider .carousel-indicators button span:hover {
    background: #35a22c;
    width: 30px;
    height: 10px;
    border-radius: 10px;
}


.slider button:hover span {
    background: #35a22c !important;
    width: 30px;
    height: 10px;
}

.slider button span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 25px;
    position: relative;
    opacity: 0.9;
}

.carousel-indicators {
    padding-bottom: 15px;

}

.slider .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-white {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
    background-color: #fff;
    color: #35a22c;
}

.border-btn {
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 35px;
}

.border-btn:hover {
    background-color: #fff;
}

.carousel-inner .carousel-caption h5 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.carousel-inner .carousel-caption p {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;
    opacity: 0.9;
}

.carousel-caption {
    max-width: 700px;
}

.carousel-caption {
    text-align: left !important;
}

#caption1,
#caption3 {
    padding-bottom: 300px;
}

#caption2,
#caption4 {
    bottom: 50%;
    transform: translateY(50%) translateX(50%);
}

/* end slider */


/* start about us */

.about__us {
    text-align: center;
    background-color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about__us .about__us-item {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

.sub-title1 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.sub-title2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    color: #000c04
}

/* end about us */


/* start feature */
.features {
    background-color: #f9f7fe;
}

.features .icon {
    font-size: 30px;
    color: #189A46;
}

.features .area-box h4 a {
    color: #000c04;
}

.features .area-box p {
    color: #696969;
}

.features .area-box {
    padding: 40px 30px;
    transition: all 0.5s ease 0s;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    margin-bottom: 30px;
}

.features .area-box:hover {
    background: #f9f7fe;
}

/* end feature */

/* start service */
.service {
    background: #fff;
}

.service img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.service .service__right p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24.5px;
    color: var(--para-color);
    margin: 15px 0 35px 0;
}

.service .service__right ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000c04;
    margin: 15px 0;
    font-weight: 600;
}

.service .service__right-content li span.fa {
    color: #35a22c;
    margin-right: 12px;
    background: #f9f7fe;
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
}

.service .service__right {
    align-self: center;
}

/* end service */

/* start number */
.number {
    background: #189A46;
}

.stats_info {
    text-align: center;
    padding: 0;
    border-top: none;
    border-bottom: none;
}

.stats_info span {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}

.stats_info h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}

/* end number */

/* start plan */
.plan-7-main {
    background: #f9f7fe;
}

.plan-7-main h6 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.sub-title2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.plan-7-main .plan-sec-7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 5% auto;
    margin-top: 0;
    width: 90%;
}

.plan-7-main .plan-gd-left {
    background: #fff;
    border-radius: 6px;
    align-self: center;
}

.plan-7-top {
    text-align: center;
}

.plan-7-bottom {
    text-align: center;
    padding-top: 1em;
}

.plan-gd-left.pric-7.active .plan-7-top {
    padding: 3em 2.5em .5em;
    background: #35a22c;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.plan-7-main h5 {
    font-size: 15px;
    line-height: 20px;
    color: #35a22c;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    border-radius: 10px;
}

.plan-7-main .plan-gd-left.active h6,
.plan-7-main .plan-gd-left.active h4 {
    color: #fff;
}

.plan-7-main .pricing-gd-left.active h6,
.plan-7-main .plan-gd-left.active h4 {
    color: #fff;
}

.plan-7-main h6 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.plan-7-main h4 {
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #35a22c;
}

.plan-7-main ul.links li {
    list-style: none;
    margin-bottom: 5px;
    color: #304659;
}

.plan-7-main p.lists {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    align-self: center;
    padding-top: 6px;
}

.plan-7-main .buy-button {
    margin-top: 2em;
}

/* end plan */

/* start new */
.about {
    background-color: #fff;
}

.about .about__content {
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

.about .middle-section {
    max-width: 950px;
    margin: 0 auto;
}

.about .sub-title1 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.about .sub-title2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.position-relative {
    position: relative !important;
}

.radius-image {
    border-radius: 10px;
}

.about .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
}

.about span.video-play-icon {
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
}

.about span.video-play-icon span {
    color: #35a22c;
}

/* end new */

/* start feedback */
.feedback {
    background: #f9f7fe;
}

.feedback .footer {
    max-width: 1050px;
    margin: auto;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* -webkit-transform: translate3d(0, 0, 0); */
}

.feedback .footer .item-content {
    display: block;
    margin: 0;
    padding: 40px 30px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    border: none;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}

.feedback .footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5em;
}

.feedback .content-bottom {
    display: flex;
    text-align: center;
}

.feedback .test-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 50%;
}

.feedback .content-bottom .people {
    margin: 0;
    margin-left: 20px;
    text-align: left;
}

.feedback .content-bottom .people h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.feedback p.indentity {
    color: #777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
}

.owl-two.owl-carousel.owl-theme .owl-dots {
    position: inherit;
    left: 0px;
    right: 0px;
    bottom: 30px;
    margin-top: 80px;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
}

.owl-two.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.owl-two.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background: #35a22c;
    width: 30px;
    height: 10px;
}

.owl-carousel .owl-nav.disabled {
    display: none;
}

/* end feedback */
element.style {
    width: 3210px;
    transition: all 0.25s ease 0s;
    transform: translate3d(0px, 0px, 0px);
}
:root{
    --primary-color: #189A46;
  --secondary-color: #f53626;
  --font-color: #696969;
  --bg-color: #fff;
  --heading-color: #000c04;
  --border-radius: 10px;
  --border-color: #ddd;
  --border-light:#f0f3f0;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --bg-light: rgba(147, 107, 232, 0.05);
  --iframe-filter: grayscale(0%);
  --widget-bg: #3f3a64;
}
.ml-auto .nav-item a{
    color: brown;
    text-decoration: none;
}
 /* #navbarTogglerDemo02{
     display: flex; 
     justify-content: flex-end; 
} */
#site-header{
   padding-top: 10px;
  background-color: white;
   margin-top: 30px;
}
.navbar .navbar-brand{
    color: #189A46;
    font-weight: bold;
    font-size: large;
}
h1{
    font-size: medium;
    color: red;
}
.img-header{
 background-image: url(../img/banner4.jpg);
    background-clip: content-box;
    width: auto;
    height: 370px;
    background-size: cover;
    background-repeat: no-repeat;
   background-attachment: fixed;
    background-origin: border-box;
    margin-top: 100px;
}
li{
    list-style-type: none;
}
.wrapper{
    text-align: center;
}
span{
    width: 10px;
    height: 10px;
}
.img-header{
    margin-top: 71px;
}
.Introduction-Wrapper{
    position: relative;
    top: 200px;
}
.navbar-nav{
    float: right;
}
.Ultimate-list{
    display: flex;
    justify-content: center;
}
i{
    width: 200px;
    height: 100px;
}
.Introduction-Wrapper h1{
    color: white;
    font-size: 40px;
}
.Introduction-Wrapper .list1{
    color: green;
}
.Ultimate-list li{
    color: white;
}
.Header3-Expericences-left{
    color: red;
}
.Experiences-left h4{
    /* padding-left: 100px; */
    font-size: 30px;
     font-weight: bolder;
}
/* .Experiences-left{
    padding-left: 100px;
    position: relative;
    top: 70px;
} */
.Experiences{
    display: flex;
    justify-content: center;
}
/* .Experience-right{
    position: relative;
    left: 400px;
}
*/

.Experience-right p{
    position: relative;
    top: 20px;
    font-size: 15px;
    line-height: 25px;
}
.Experiences-left{
    margin-right: 50px;
}
.Experience-right a{
    margin-top: 20px;
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189A46;
    color: black;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
}
/* .Experience-right a:hover{
    color: #189A46;
} */
.History-image{
    background-image: url(../img/banner2.jpg);
    width: auto;
    height: 800px;
    margin-top: 100px;
    background-size: cover;
    align-items: center;
}
.History-image::before{
    content: "";
    display: grid;
    /* background-color: rgba(0, 4, 8, 0.69);  */
    position: absolute;
    z-index: -1;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.w3l-feature-1 .feature-1-content{
    margin-left: auto;
    max-width: 600px;
    text-align: left;
}
.Title-featire-1-content{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 1px;
    color: red;
}
.heading3-title{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}
.history-grids{
    margin-top: 20px;
    display: flex;
    position: relative;
    left: 70px;
}
.history-info{
    margin-left: 30px;
}
.feature-1-content{
    position: relative;
    bottom: 600px;
}
.three{
    color: white;
}
.year{
    color: white;
}
.feature-1-content{
    float: right;
}
.OurHistory{
    margin-left: 100px;

}
.mt-3{
    color: white;
}

.IMG-Introduce{
    max-width: 100%;
    height: auto;
}
.Left{
    text-align: right;
    width: 50%;
    z-index: -1;
}
.Title-feature-1-content{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 1px;
    color: red;
}
.Intro-AboutUs{
    width: 50%;
    height: 50%;
    margin-left: 100px;
}
.Who-We-Are-Info{
    display: flex;
}
.who-we-are .content4-icon{
    color: var(--primary-color);
    font-size: 44px;
    text-align: center;
}

.ourTeam{
   color:rgba(147, 107, 232, 0.05);
   margin-top: 100px;

}
.w3l-team-main{
    background-color: #f9f7fe;
    
}

.team-image .name-pos{
    cursor: pointer;
}
.w3l-team-main .title-content :hover .column .name-pos{
    color: green !important;
    transition: all .3s;
}
.First-Part-Right1{
    position: relative;
    margin-top: 60px;

}
.fa-american-sign-language-interpreting{
    position: relative;
    right: 10px;
    bottom: 15px;
}
.Intro-AboutUs .Link1{
    font-size: 20px;
}
.footer{
    background-color: black;
}















